<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/htmx.org@1.8.4"
            integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>管理员 - 最近访客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th>访客姓名</th>
        <th>电话</th>
        <th>公司</th>
        <th>拜访时间</th>
        <th>拜访对象</th>
    </tr>
    </thead>
    <tbody>
    {% for s in visitors %}
    <tr>
        <td>{{ s.appellation}}</td>
        <td>{{ s.mobile_phone_no }}</td>
        <td>{{ s.company }}</td>
        <td>{{ s.last_visit_date.format(time_format)? }}</td>
        <td>{{ s.invited_by }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
<h1>ps, {{ ps }}!</h1>
<h1>pn, {{ pn }}!</h1>
</body>
</html>
